# 0 12 * * * su -c '/home/mc/.local/bin/backup.sh' >/dev/null 2>&1
   0 * * * * su -c '. ${HOME}/.profile; /home/${USER}/.local/bin/bar/mail.sh -g' mc >/dev/null 2>&1
   0 * * * * su -c '. ${HOME}/.profile; /home/${USER}/.local/bin/bar/pkgs.sh -g' mc >/dev/null 2>&1
   0 * * * * su -c '. ${HOME}/.profile; /home/${USER}/.local/bin/bar/rss.sh  -g' mc >/dev/null 2>&1
   0 * * * * su -c '. ${HOME}/.profile; /home/${USER}/.local/bin/bar/torr.sh -r' mc >/dev/null 2>&1
# 0 12 * * * su -c '. ${HOME}/.profile; /home/${USER}/.local/bin/vultr.sh'       mc >/dev/null 2>&1
